<h2 mat-dialog-title>Payment data</h2>
<mat-dialog-content class="mat-typography">
  <mat-stepper [linear]="true">
    <mat-step [stepControl]="metaFormGroup">
      <ng-template matStepLabel>Document information</ng-template>
      <p>
        Please fill in the payment information below. The payment date is
        required.
      </p>
      <form [formGroup]="metaFormGroup">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date</mat-label>
          <input
            matInput
            formControlName="date"
            placeholder="Document date"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Due date</mat-label>
          <input
            matInput
            formControlName="dueDate"
            placeholder="Due date"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Project name</mat-label>
          <input
            matInput
            formControlName="projectName"
            type="text"
            placeholder="Project name"
            required
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Reimbursement name</mat-label>
          <input
            matInput
            formControlName="reimbursementName"
            type="text"
            placeholder="Reimbursement name"
            required
            readonly
          />
        </mat-form-field>
      </form>

      <button
        mat-stroked-button
        color="primary"
        style="letter-spacing: 0"
        matStepperNext
      >
        Next
      </button>
    </mat-step>

    <mat-step [stepControl]="valueFormGroup">
      <ng-template matStepLabel>Value information</ng-template>

      <form [formGroup]="valueFormGroup">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Amount</mat-label>
          <input
            matInput
            formControlName="total"
            type="text"
            placeholder="Total amount"
            required
            prefix="Rp. "
            thousandSeparator=" "
            decimalScale="2"
            mask="separator"
            readonly
          />
        </mat-form-field>
        <mat-list>
          <mat-list-item *ngFor="let item of t.controls">
            <span matListItemTitle
              >Rp. {{ item.get("amount")?.value | number : "0.2-2" }}</span
            >
            <span matListItemLine>{{ item.get("description")?.value }}</span>
            <span matListItemLine>{{ item.get("date")?.value }}</span>
          </mat-list-item>
        </mat-list>
      </form>

      <button
        mat-stroked-button
        color="primary"
        style="letter-spacing: 0"
        class="me-3"
        matStepperPrevious
      >
        Previous
      </button>
      <button
        mat-stroked-button
        color="primary"
        style="letter-spacing: 0"
        matStepperNext
      >
        Next
      </button>
    </mat-step>

    <mat-step [stepControl]="formGroup">
      <ng-template matStepLabel>Payment information</ng-template>
      <p>
        Please fill in the payment information below. The payment date is
        required.
      </p>

      <form [formGroup]="formGroup">
        <p>
          This document is due on
          {{ metaFormGroup.get("dueDate")?.value }}
        </p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Payment Date</mat-label>
          <input
            matInput
            formControlName="paymentDate"
            placeholder="Payment date"
            [matDatepicker]="paymentDatePicker"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matIconPrefix
            [for]="paymentDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #paymentDatePicker></mat-datepicker>
          <mat-hint>DD/MM/YYYY</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Bank Account Number</mat-label>
          <mat-select formControlName="bankAccountID">
            <mat-option *ngFor="let bank of bankAccounts" [value]="bank.id"
              >{{ bank.bankAccountNumber }} --
              {{ bank.bankAccountName }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Amount</mat-label>
          <input
            matInput
            formControlName="amount"
            type="text"
            placeholder="Payment amount"
            required
            prefix="Rp. "
            thousandSeparator=" "
            decimalScale="2"
            mask="separator"
            readonly
          />
        </mat-form-field>
      </form>
      <button
        mat-stroked-button
        color="primary"
        style="letter-spacing: 0"
        class="me-3"
        matStepperPrevious
      >
        Previous
      </button>
      <button
        mat-stroked-button
        color="primary"
        style="letter-spacing: 0"
        (click)="onSubmit()"
        [disabled]="
          !formGroup.valid || !metaFormGroup.valid || !valueFormGroup.valid
        "
      >
        Submit
      </button>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
