<h2 mat-dialog-title>Payment data</h2>
<form [formGroup]="formGroup">
<mat-dialog-content class="mat-typography">
    <p>
      This document is due on
      {{ metaFormGroup.get("dueDate")?.value }}
    </p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Payment Date</mat-label>
      <input
        matInput
        formControlName="paymentDate"
        placeholder="Payment date"
        [matDatepicker]="paymentDatePicker"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matIconPrefix
        [for]="paymentDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #paymentDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank Account Number</mat-label>
      <mat-select formControlName="bankAccountID">
        @for(bank of bankAccounts; track bank){

        <mat-option [value]="bank.id"
        >{{ bank.bankAccountNumber }} --
        {{ bank.bankAccountName }}</mat-option
      >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Amount</mat-label>
      <input
        matInput
        formControlName="amount"
        type="text"
        placeholder="Payment amount"
        required
        prefix="Rp. "
        thousandSeparator=" "
        mask="separator.2"
        readonly
      />
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    style="letter-spacing: 0"
    (click)="onSubmit()"
    [disabled]="
      !formGroup.valid || isSubmitting
    "
  >
    Submit
  </button>
</mat-dialog-actions>
</form>
