<div class="title__wrapper">
  <h1 class="title flex-grow-1">Purchase</h1>
  <button class="btn outlined" routerLink="/Purchase/Create">
    Create new purchase
  </button>

  <button
    class="btn outlined d-flex align-items-center ms-3"
    (click)="openPurchaseReportSelector()"
  >
    <mat-icon>description</mat-icon>
    <span class="ms-2">Get report</span>
  </button>
</div>
<div class="table-responsive">
  <table class="table table-bordered hover mt-3">
    <thead>
      <tr>
        <th>Date</th>
        <th>Invoice name</th>
        <th>Receipt name</th>
        <th>Tax invoice</th>
        <th>Supplier</th>
        <th>Project</th>
        <th>DPP</th>
        <th>PPN</th>
        <th>PPH</th>
        <th>Status</th>
        <th>Paid status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="11" class="text-center">
          <mat-spinner
            class="loading-spinner"
            [diameter]="50"
            [strokeWidth]="5"
            color="primary"
            mode="indeterminate"
          ></mat-spinner>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="purchases.length === 0 && !isLoading">
      <tr>
        <td colspan="11" class="text-center">No purchases found.</td>
      </tr>
    </tbody>

    <tbody *ngIf="purchases.length > 0 && !isLoading">
      <tr *ngFor="let purchase of purchases">
        <td>{{ purchase.date | date : "dd MMM YYYY" }}</td>
        <td>{{ purchase.invoiceName || "N/A" }}</td>
        <td>{{ purchase.receiptName || "N/A" }}</td>
        <td>{{ purchase.taxInvoiceName || "N/A" }}</td>
        <td>
          <p>{{ purchase.supplier.name }}, {{ purchase.supplier.prefix }}</p>
        </td>
        <td>{{ purchase.projectName }}</td>
        <td>{{ purchase.dpp | currency : "IDR" }}</td>
        <td>{{ purchase.ppn | currency : "IDR" }}</td>
        <td>
          {{ (purchase.pphPercentage * purchase.dpp) / 100 | currency : "IDR" }}
        </td>
        <td>{{ purchase.isDeleted ? "Deleted" : "Active" }}</td>
        <td>{{ purchase.isPaid ? "Paid" : "Not paid" }}</td>
        <td>
          <button mat-icon-button (click)="openPaymentDetail(purchase.id)">
            <mat-icon>payments</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator
  [length]="count"
  [pageSize]="10"
  [pageIndex]="page - 1"
  (page)="changePage($event)"
>
</mat-paginator>
