.calendar__table__wrapper {
  width: 100%;
  overflow-y: auto;
}



.calendar__table {
  display: table;
  width: 100%;
  height: 100%;
  min-width: 1400px;

  .calendar__table__header {
    display: table-row;
    background-color: var(--color-bg-header);
    color: var(--color-text-header);
    font-weight: bold;
    text-align: center;
    width: 12.5%;

    .calendar__table__cell {
      display: table-cell;
      padding: 8px;
      border-bottom: 1px solid var(--color-border);
      // disable user selection
      user-select: none;
      width: 12.5%;
      border-bottom: 1px solid #888;
    }
  }
  .calendar__table__spacer-row {
    display: table-row;
    height: 12px; // or your desired space
  }

  .calendar__table__row {
    display: table-row;

    .calendar__table__cell {
      display: table-cell;
      padding: 8px;

      .calendar__table__cell__box {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        padding: 1rem;
        border: 1px solid #888;
        // user selection
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;

        &.inactive {
          visibility: hidden;
        }

        &:hover {
          background-color: #ddd;

          .calendar__table__cell__box__date {
            background-color: rgba(21, 77, 236, 1);
            color: white;
            transition: background-color 0.3s ease;
          }
        }
        &.selected {
          background-color: var(--base-color-hover);
        }

        .calendar__table__cell__box__header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .calendar__table__cell__box__value {
          font-size: 1.55rem;
          font-weight: bold;
          color: var(--color-text);
          text-align: right;
        }

        .calendar__table__cell__box__date {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid var(--color-border);
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s ease;

          &.today {
            background-color: rgba(21, 77, 236, 1);
            border: 1px solid rgba(21, 77, 236, 1);
            color: white;
          }
        }

        .calendar__table__cell__interpayment-indicator {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid var(--color-border);
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s ease;
          display: none;

          &.exists {
            background-color: rgba(0, 0, 0, 0.1);
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
              color: #333;
            }
          }
        }
      }
    }
  }
}
