<div class="cal">
  <!-- weekday header -->
  <div class="cal-dow">
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div class="cal-dow--we">Sat</div>
    <div class="cal-dow--we">Sun</div>
  </div>

  <!-- day grid -->
  <div class="cal-grid">
    <ng-container *ngFor="let week of weeks">
      <div
        *ngFor="let day of week"
        class="cal-cell"
        [ngClass]="{
          'is-active': day != null,
          'is-selected': day === selectedDay && day != null,
          'is-empty': day == null,
        }"
        (click)="onDayClick(day)"
      >
        <div class="cal-cell__top">
          <div class="cal-date" [ngClass]="{ 'is-today': dayIsToday(day) }">
            {{ day || "\u00A0" }}
          </div>

          <div
            class="cal-ip"
            [ngClass]="{ 'is-shown': interpaymentExistsForDay(day) }"
            matTooltip="Ada interpayment di tanggal ini"
          >
            <mat-icon>swap_horiz</mat-icon>
          </div>
        </div>

        <div
          class="cal-cell__value"
          *ngIf="day != null"
          [ngClass]="valueClass(day)"
        >
          {{ dataForDay(day) | shortCurrency: "Rp. " }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="cal-foot">
    <button
      type="button"
      class="cal-download"
      [disabled]="isDownloading"
      (click)="onCalendarDownload()"
    >
      <mat-icon>download</mat-icon>
      {{ isDownloading ? "Menyiapkan..." : "Download" }}
    </button>
  </div>
</div>
