<app-header-title
  title="Purchase"
  description="Create new purchase"
></app-header-title>

<mat-stepper #stepper>
  <mat-step [stepControl]="metaFormGroup">
    <form [formGroup]="metaFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>{{
        "purchaseCreate.stepMeta" | translate
      }}</ng-template>

      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.date" | translate }}</mat-label>
            <input
              matInput
              formControlName="date"
              placeholder="Date"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matIconPrefix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.dueDate" | translate }}</mat-label>
            <input
              matInput
              formControlName="dueDate"
              placeholder="Date"
              [matDatepicker]="duePicker"
            />
            <mat-datepicker-toggle
              matIconPrefix
              [for]="duePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #duePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.supplier" | translate }}</mat-label>
            <input
              matInput
              formControlName="supplierName"
              type="text"
              [placeholder]="'purchaseCreate.supplierPlaceholder' | translate"
              readonly
            />
            <button
              matPrefix
              mat-icon-button
              (click)="openSupplierSelector()"
              type="button"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "purchaseCreate.invoiceName" | translate
            }}</mat-label>
            <input
              matInput
              formControlName="invoiceName"
              type="text"
              [placeholder]="'purchaseCreate.invoiceName' | translate"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "purchaseCreate.receiptName" | translate
            }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="receiptName"
              [placeholder]="'purchaseCreate.receiptName' | translate"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.poName" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="purchaseOrderName"
              [placeholder]="'purchaseCreate.poName' | translate"
              oninput="this.value = this.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.project" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="projectName"
              [placeholder]="'purchaseCreate.projectPlaceholder' | translate"
            />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.taxInvoiceName" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="taxInvoiceName"
          [placeholder]="'purchaseCreate.taxInvoiceName' | translate"
          maxlength="17"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.documentType" | translate }}</mat-label>
        <mat-select formControlName="documentType">
          <mat-option [value]="'goods'">{{
            "purchaseCreate.goodsPurchase" | translate
          }}</mat-option>
          <mat-option [value]="'other'">{{
            "purchaseCreate.otherPurchase" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mt-3">
        <mat-label>{{ "purchaseCreate.documentStatus" | translate }}</mat-label>
        <mat-select formControlName="lastStatus">
          <mat-option value="draft">{{
            "purchaseCreate.statusWaiting" | translate
          }}</mat-option>
          <mat-option value="ready">{{
            "purchaseCreate.statusReady" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.documentType" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastStatusDescription"
          [readonly]="metaFormGroup.controls['lastStatus'].value != 'draft'"
        /><mat-hint
          *ngIf="
            metaFormGroup.hasError('lastStatusDescriptionRequired') &&
            metaFormGroup.get('lastStatus')?.value === 'draft'
          "
        >
          Description is required and must be between 10 and 100 characters when
          status is Waiting.
        </mat-hint>
      </mat-form-field>

      <mat-slide-toggle formControlName="isInternal" color="primary"
        >Internal purchase</mat-slide-toggle
      >
    </form>

    <mat-divider class="my-3"></mat-divider>
    <button
      style="letter-spacing: 0"
      mat-stroked-button
      matStepperNext
      [disabled]="metaFormGroup.invalid"
    >
      {{ "purchaseCreate.next" | translate }}
    </button>
  </mat-step>
  <mat-step [stepControl]="valueFormGroup">
    <form [formGroup]="valueFormGroup">
      <ng-template matStepLabel>{{
        "purchaseCreate.stepValue" | translate
      }}</ng-template>

      <mat-form-field appearance="outline" class="w-100 mt-3">
        <mat-label>{{ "purchaseCreate.dpp" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="dpp"
          [placeholder]="'purchaseCreate.dpp' | translate"
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          mask="separator"
        />
      </mat-form-field>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.ppnPercent" | translate }}</mat-label>
            <mat-select formControlName="ppn">
              <mat-option [value]="0">0%</mat-option>
              <mat-option [value]="1.1">1.1%</mat-option>
              <mat-option [value]="11">11%</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.ppnRp" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="ppnValue"
              [placeholder]="'purchaseCreate.ppnRp' | translate"
              prefix="Rp. "
              thousandSeparator=" "
              decimalScale="2"
              mask="separator"
              readonly
            />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.pbbkb" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="pbbkb"
          [placeholder]="'purchaseCreate.pbbkb' | translate"
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          mask="separator"
        />
      </mat-form-field>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.pph" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="pphCode"
              [placeholder]="'purchaseCreate.pphCode' | translate"
            />
            <button
              mat-icon-button
              matPrefix
              type="button"
              (click)="openPPHSelector()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "purchaseCreate.pphPercentage" | translate
            }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="pphPercentage"
              [placeholder]="'purchaseCreate.pphPercentage' | translate"
              readonly
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "purchaseCreate.pphObjectName" | translate
            }}</mat-label>
            <textarea
              matInput
              type="text"
              formControlName="pphTaxObject"
              [placeholder]="'purchaseCreate.pphObjectName' | translate"
              readonly
              rows="4"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.pphRp" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="pphValue"
          placeholder="PPh Value"
          readonly
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          mask="separator"
        />
      </mat-form-field>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "purchaseCreate.otherValue" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="otherValue"
              placeholder="otherValue"
              prefix="Rp. "
              thousandSeparator=" "
              decimalScale="2"
              mask="separator"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "purchaseCreate.otherValueNote" | translate
            }}</mat-label>
            <mat-select formControlName="otherValueNote">
              <mat-option value="">{{
                "purchaseCreate.select" | translate
              }}</mat-option>
              <mat-option value="delivery">{{
                "purchaseCreate.deliveryFee" | translate
              }}</mat-option>
              <mat-option value="packing">{{
                "purchaseCreate.packingFee" | translate
              }}</mat-option>
              <mat-option value="packing">PPh 22</mat-option>
              <mat-option value="administrative">{{
                "purchaseCreate.administrationFee" | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.total" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="total"
          placeholder="Total"
          readonly
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          mask="separator"
        />
        <button
          mat-icon-button
          matPrefix
          [disabled]="isFinal || !isNumberValid"
          (click)="calculateTotal()"
        >
          <mat-icon>calculate</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <mat-divider class="my-3"></mat-divider>
    <button
      style="letter-spacing: 0"
      class="me-2"
      mat-button
      matStepperPrevious
    >
      {{ "purchaseCreate.previous" | translate }}
    </button>
    <button
      matStepperNext
      style="letter-spacing: 0"
      mat-stroked-button
      [disabled]="valueFormGroup.invalid || !isFinal"
    >
      {{ "purchaseCreate.next" | translate }}
    </button>
  </mat-step>
  <mat-step [stepControl]="attachmentFormGroup">
    <form [formGroup]="attachmentFormGroup">
      <ng-template matStepLabel>{{
        "purchaseCreate.stepAttachments" | translate
      }}</ng-template>

      <mat-slide-toggle
        color="primary"
        class="my-2"
        formControlName="isInvoiceAttached"
        >{{ "purchaseCreate.attInvoice" | translate }}</mat-slide-toggle
      >
      <br />

      <mat-slide-toggle
        color="primary"
        class="my-2"
        formControlName="isReceiptAttached"
        >{{ "purchaseCreate.attReceipt" | translate }}</mat-slide-toggle
      >
      <br />

      <mat-slide-toggle
        color="primary"
        class="my-2"
        formControlName="isTaxInvoiceAttached"
        >{{ "purchaseCreate.attTaxInvoice" | translate }}</mat-slide-toggle
      >
      <br />

      <mat-slide-toggle
        color="primary"
        class="my-2"
        formControlName="isCopAttached"
        >{{ "purchaseCreate.attCoP" | translate }}</mat-slide-toggle
      >
      <br />

      <mat-slide-toggle
        color="primary"
        class="my-2"
        formControlName="isCopyPurchaseOrderAttached"
        >{{ "purchaseCreate.attCopyPO" | translate }}</mat-slide-toggle
      >
      <br />
    </form>

    <mat-divider class="my-3"></mat-divider>
    <button
      style="letter-spacing: 0"
      class="me-2"
      mat-button
      matStepperPrevious
    >
      {{ "purchaseCreate.previous" | translate }}
    </button>
    <button
      style="letter-spacing: 0"
      mat-stroked-button
      matStepperNext
      [disabled]="attachmentFormGroup.invalid"
    >
      {{ "purchaseCreate.next" | translate }}
    </button>
  </mat-step>
  <mat-step [stepControl]="paymentFormGroup">
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel>{{
        "purchaseCreate.stepPayment" | translate
      }}</ng-template>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.bankName" | translate }}</mat-label>
        <input
          #input
          matInput
          type="text"
          formControlName="bankName"
          [placeholder]="'purchaseCreate.bankName' | translate"
          [matAutocomplete]="auto"
          (input)="filter()"
          (focus)="filter()"
        />
        <mat-autocomplete requireSelection #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option.name"
            >{{ option.name }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{
          "purchaseCreate.bankAccountName" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="bankAccountName"
          [placeholder]="'purchaseCreate.bankAccountName' | translate"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.paymentMethod" | translate }}</mat-label>
        <mat-select formControlName="paymentMethod">
          <mat-option value="bank">{{
            "purchaseCreate.bankTransfer" | translate
          }}</mat-option>
          <mat-option value="va">{{
            "purchaseCreate.virtualAccount" | translate
          }}</mat-option>
          <mat-option value="cash">{{
            "purchaseCreate.cheque" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{
          "purchaseCreate.bankAccountNumber" | translate
        }}</mat-label>
        <!-- Input for bank account name -->
        <button
          mat-icon-button
          type="button"
          matPrefix
          (click)="copyBankAccountNumber()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <input
          matInput
          type="text"
          formControlName="bankAccountNumber"
          placeholder="Bank Account Number"
          mask="9999 9999 9999 9999"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "purchaseCreate.total" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="paymentTotal"
          placeholder="Payment Total"
          readonly
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          mask="separator"
        />
      </mat-form-field>

      <mat-slide-toggle
        color="primary"
        class="mb-3"
        formControlName="proxyPayment"
      >
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ "purchaseCreate.proxyPayment" | translate }}</span>
          <button
            type="button"
            mat-icon-button
            matTooltip="Proxy payment is used when the payment is made by a third party on behalf of the purchaser. (e.g., we pay the supplier through our staff's personal bank account)"
          >
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </mat-slide-toggle>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{
          "purchaseCreate.bankAccountOrigin" | translate
        }}</mat-label>
        <mat-select formControlName="bankAccountID">
          <mat-option *ngFor="let option of bankAccounts" [value]="option.id">
            {{ option.bankName }} · {{ option.bankAccountName }} ·
            {{ option.bankAccountNumber }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle
        color="primary"
        class="mb-3"
        formControlName="createPayment"
      >
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ "purchaseCreate.createPaymentSlip" | translate }}</span>
          <button
            type="button"
            mat-icon-button
            matTooltip="Create payment slip automatically instead of manually filling the payment slip."
          >
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </mat-slide-toggle>
    </form>

    <mat-divider class="my-3"></mat-divider>
    <button
      style="letter-spacing: 0"
      mat-button
      class="me-2"
      matStepperPrevious
    >
      {{ "purchaseCreate.previous" | translate }}
    </button>
    <button
      class="btn"
      (click)="onSubmit()"
      [disabled]="!isValid || isSubmitting"
    >
      {{ "purchaseCreate.submit" | translate }}
    </button>
  </mat-step>
</mat-stepper>
