<div class="side-nav__wrapper">
  <div class="side-nav__body">
    <div class="side-nav__logo">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        class="side-nav__logo-icon"
      />
    </div>
    <div class="side-nav__item-list">
      <div *ngFor="let item of sideNavItems" class="side-nav__item">
        <mat-divider class="mt-3 mb-2"></mat-divider>
        <p class="side-nav__item__title">{{ item.name }}</p>
        <ul class="list-group list-group-flush mb-3">
          <li
            class="list-group-item d-flex align-items-center my-1"
            role="button"
            (click)="onItemClick(subItem)"
            [routerLink]="subItem.route"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="subItem.routerLinkOptions"
            *ngFor="let subItem of item.children"
          >
            <mat-icon>{{ subItem.icon }}</mat-icon>
            <span class="ms-3">{{ subItem.name }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="side-nav__version">
      <img
        src="assets/images/version.png"
        alt="Version"
        class="side-nav__version-icon"
      />
      <div class="cover">
        <div class="text__wrapper">
          <p>{{ buildStatus }} ver. {{ version }}</p>
          <p>Release date {{ releaseDate | date : "dd MMMM YYYY" }}</p>

          <button>View changelogs</button>
        </div>
      </div>
    </div>
  </div>
</div>
