<div class="side-nav__wrapper">
  <div class="side-nav__body">
    <div class="side-nav__logo">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        class="side-nav__logo-icon"
      />
      <span>TERRABOT</span>
    </div>
    <div class="side-nav__item-list">
      @for (item of items; track item) {
      <div class="side-navigation__list-label">{{ item.name }}</div>
        @for(i of item.children; track i){
        <app-side-nav-item
          [label]="i.name"
          [routerLink]="i.route"
          [icon]="i.icon"
        />
        } 
      }
    </div>

    <mat-menu #trigger>
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</div>
