<h2 mat-dialog-title>{{ "loanPayment.title" | translate }}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <p class="lpc-desc">{{ "loanPayment.subtitle" | translate }}</p>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "loanPayment.date" | translate }}</mat-label>
      <input
        matInput
        formControlName="date"
        [matDatepicker]="paymentDatePicker"
        [placeholder]="'loanPayment.datePlaceholder' | translate"
      />
      <mat-datepicker-toggle
        matIconPrefix
        [for]="paymentDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #paymentDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "loanPayment.bankAccount" | translate }}</mat-label>
      <mat-select formControlName="bankAccountID">
        <mat-option *ngFor="let bank of bankAccounts" [value]="bank.id"
          >{{ bank.bankAccountNumber }} --
          {{ bank.bankAccountName }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "loanPayment.amount" | translate }}</mat-label>
      <input
        matInput
        formControlName="amount"
        type="text"
        [placeholder]="'loanPayment.amountPlaceholder' | translate"
        prefix="Rp. "
        thousandSeparator=" "
        mask="separator.2"
      />
      <button matSuffix mat-icon-button type="button" (click)="fullAmount()">
        <mat-icon>check_circle</mat-icon>
      </button>
      <mat-hint>
        {{ "loanPayment.maxAmount" | translate }}
        {{ totalAmount | number: "0.2-2" }}
      </mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      type="button"
      (click)="onClose()"
      [disabled]="isSubmitting"
      style="letter-spacing: 0"
    >
      {{ "loanPayment.cancel" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="formGroup.invalid || isSubmitting"
      style="letter-spacing: 0"
    >
      {{
        isSubmitting
          ? ("loanPayment.submitting" | translate)
          : ("loanPayment.submit" | translate)
      }}
    </button>
  </mat-dialog-actions>
</form>
