<form [formGroup]="formGroup">
  <div class="form-field">
    <label for="date">Date</label>
    <input type="date" id="date" formControlName="date" class="form-control" />
  </div>

  <div class="form-field mt-3">
    <label for="projectName">Expense type</label>
    <select
      id="purchaseType"
      formControlName="purchaseType"
      class="form-control"
      placeholder="Enter expense type"
    >
      <option value="" disabled selected>Select expense type</option>
      <option *ngFor="let type of expenseTypes" [value]="type.code">
        {{ type.name }}
      </option>
    </select>
  </div>

  <div class="form-field mt-3">
    <label for="projectName">Project Name</label>
    <input
      type="text"
      id="projectName"
      formControlName="projectName"
      class="form-control"
      placeholder="Enter project name"
    />
  </div>

  <div class="form-field mt-3">
    <label for="bankName">Bank Name</label>
    <input
      type="text"
      id="bankName"
      formControlName="bankName"
      class="form-control"
      placeholder="Enter bank name"
    />
  </div>

  <div class="form-field mt-3">
    <label for="bankAccountNumber">Account Number</label>
    <input
      type="text"
      id="bankAccountNumber"
      formControlName="bankAccountNumber"
      class="form-control"
      placeholder="Enter account number"
    />
  </div>

  <div class="form-field mt-3">
    <label for="bankAccountName">Account Name</label>
    <input
      type="text"
      id="bankAccountName"
      formControlName="bankAccountName"
      class="form-control"
      placeholder="Enter account name"
    />
  </div>

  <button class="btn outlined mt-3" (click)="addItem()">
    Add reimbursement item
  </button>

  <div class="table-responsive">
    <table class="table table-bordered hover mt-3">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="items.length == 0">
        <tr>
          <td colspan="4" class="text-center">No items added yet.</td>
        </tr>
      </tbody>

      <tbody *ngIf="items.length > 0">
        <tr *ngFor="let item of items.controls; index as i">
          <td>{{ item.get("date")?.value | date : "dd MMMM YYYY" }}</td>
          <td>{{ item.get("description")?.value }}</td>
          <td>{{ item.get("amount")?.value | number : "0.2-2" }}</td>
          <td>
            <button class="btn icon" (click)="removeItem(i)">
              <i class="bi bi-x"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="my-3"></mat-divider>
  <button class="btn" (click)="onSubmit()" [disabled]="formGroup.invalid">
    Submit
  </button>
</form>
