.dashboard-body__wrapper {
  width: 100%;
  background-color: transparent;
  padding: 10px 20px 20px 10px;
  height: 100%;
}

h1 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-card {
  width: 100%;
  border-radius: 27px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #0d0d0d;

  &.white {
    background-color: white !important;
    border: 0.5px solid #ccc;
  }

  &.full-h {
    height: 400px;
  }

  &.half-h {
    height: 190px;
  }

  h1 {
    font-size: 1.8rem;
    color: white;
  }

  h1.red {
    font-size: 1.8rem;
    color: rgb(202, 41, 41);
  }

  button {
    color: white;
    background-color: transparent;
    border: none;
  }
}
