.top-navigation__bookmark__wrapper {
  background-color: black;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: "Poppins";
  color: white;
  font-size: 0.8rem;
  width:100px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
