<div class="calendar__container">
  <div class="top">
    <app-calendar-month-selector
      [month]="month"
      [year]="year"
      (onMonthYearSelected)="onMonthChanged($event)"
    ></app-calendar-month-selector>
    <app-calendar-account-selector
      (onBankAccountChanges)="onBankAccountChanges($event)"
    />
  </div>
  <app-calendar-table
    [month]="month"
    [year]="year"
    [bankAccounts]="bankAccounts"
    (onCalendarBoxClicked)="onCalendarBoxClicked($event)"
  ></app-calendar-table>
</div>
