<h1 mat-dialog-title>{{ "calendarPayment.confirmTitle" | translate }}</h1>
<mat-dialog-content>
  <p>
    {{
      "calendarPayment.confirmPrompt"
        | translate: { count: data.payments.length }
    }}
  </p>
  <div class="banner__warning">
    <mat-icon>warning</mat-icon>
    <p class="mb-0">
      <span>{{ "calendarPayment.attention" | translate }} </span>&nbsp;{{
        "calendarPayment.warningConfirm" | translate
      }}
    </p>
  </div>

  <mat-checkbox [formControl]="agreeControl" class="mt-2" color="primary">{{
    "calendarPayment.agree" | translate
  }}</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button style="letter-spacing: 0" mat-dialog-close>
    {{ "calendarPayment.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    style="letter-spacing: 0"
    color="primary"
    (click)="onConfirm()"
    [disabled]="agreeControl.value === false"
  >
    {{ "calendarPayment.confirm" | translate }}
  </button>
</mat-dialog-actions>
