<div class="p-3">
  <h2>Daily calendar</h2>
  <h2>{{ totalPayment | number : "0.2-2" }}</h2>

  <mat-selection-list (selectionChange)="onSelectionChange($event)">
    <mat-list-option [value]="item.amount" *ngFor="let item of dataSource">
      <mat-icon
        [matTooltip]="getTooltip(item)"
        matListItemIcon
        (click)="openPaymentData(item.id, $event)"
        >{{ getIcon(item) }}</mat-icon
      >
      <div matListItemTitle [innerHTML]="getDescription(item)"></div>
      <div matListItemLine>{{ item.amount | number : "0.2-2" }}</div>
    </mat-list-option>
  </mat-selection-list>
</div>
