<h2 mat-dialog-title>Daily calendar</h2>
<mat-dialog-content>
  <h2>{{ selected | number : "0.2-2" }}</h2>
  <mat-selection-list (selectionChange)="onSelectionChange($event)">
    <mat-list-option [value]="item.amount" *ngFor="let item of data.payments">
      <mat-icon
        [matTooltip]="getTooltip(item)"
        matListItemIcon
        (click)="openPaymentData(item.id, $event)"
        >{{ getIcon(item) }}</mat-icon
      >
      <div matListItemTitle [innerHTML]="getDescription(item)"></div>
      <div matListItemLine>{{ item.amount | number : "0.2-2" }}</div>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    style="letter-spacing: 0"
    (click)="copyText()"
  >
    Copy
  </button>
</mat-dialog-actions>
