mat-dialog-content {
  height: 100vh;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

ngx-extended-pdf-viewer {
  flex: 1 0 auto;
  width: 100% !important;
  height: 100% !important;
  min-height: 0;
}
