<h1 mat-dialog-title>View reimbursement data</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" placeholder="Date" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Due Date</mat-label>
      <input
        matInput
        formControlName="dueDate"
        placeholder="Due date"
        readonly
      />
    </mat-form-field>

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Document name"
            readonly
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Project Name</mat-label>
          <input
            matInput
            type="text"
            id="projectName"
            formControlName="projectName"
            placeholder="Enter project name"
            readonly
          />
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Expense type</mat-label>
      <input
        matInput
        type="text"
        formControlName="purchaseType"
        placeholder="Expense type"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank Name</mat-label>
      <input
        type="text"
        placeholder="Bank name"
        matInput
        formControlName="bankName"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank account number</mat-label>
      <button
        mat-icon-button
        type="button"
        (click)="copyBankAccountNumber()"
        matPrefix
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <input
        matInput
        type="text"
        id="bankAccountNumber"
        formControlName="bankAccountNumber"
        placeholder="Enter account number"
        readonly
        mask="9999 9999 9999 9999"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank account name</mat-label>
      <input
        matInput
        type="text"
        id="bankAccountName"
        formControlName="bankAccountName"
        placeholder="Enter account name"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Payment Method</mat-label>
      <input
        matInput
        type="text"
        id="paymentMethod"
        formControlName="paymentMethod"
        placeholder="Payment method"
        readonly
      />
    </mat-form-field>

    <div class="table-responsive">
      <table class="table hover mt-3">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of t.controls; index as i">
            <td>
              {{ item.get("date")?.value }}
            </td>
            <td>{{ item.get("description")?.value }}</td>
            <td>Rp. {{ item.get("amount")?.value | number : "0.2-2" }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-end">Total</td>
            <td>Rp. {{ formGroup.get("total")?.value | number : "0.2-2" }}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <h3>Payment history</h3>
    @if(p.controls.length == 0){
    <mat-list>
      <mat-list-item>No payment history</mat-list-item>
    </mat-list>
    } @else {
    <mat-list>
      @for(data of p.controls;track data){
      <mat-list-item lines="3">
        @if(data.get('isApprove')?.value == true){
        <mat-icon matListItemIcon>check</mat-icon>
        } @else {

        <mat-icon matListItemIcon>pending</mat-icon>
        }
        <span matListItemTitle>{{
          data.get("amount")?.value | currency : "Rp."
        }}</span>
        <span matListItemLine>{{
          data.get("date")?.value | date : "dd MMMM yyyy"
        }}</span>
        {{ data.get("bankAccountNumber")?.value }} --
        {{ data.get("bankAccountName")?.value }}
      </mat-list-item>
      }
    </mat-list>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    style="letter-spacing: 0"
    class="me-3"
    mat-dialog-close
  >
    Close
  </button>
</mat-dialog-actions>
