<div class="ms">
  <!-- year navigation header -->
  <div class="ms-year">
    <button
      type="button"
      class="ms-year__nav"
      (click)="onYearDecrement()"
      [attr.aria-label]="'common.previous' | translate"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="ms-year__value" [class.animate]="yearAnimating">{{
      year
    }}</span>
    <button
      type="button"
      class="ms-year__nav"
      (click)="onYearIncrement()"
      [attr.aria-label]="'common.next' | translate"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <!-- month grid -->
  <div class="ms-body">
    <div class="ms-viewport">
      <div
        class="ms-grid"
        [class.animate-up]="animateUp"
        [class.animate-down]="animateDown"
        (transitionend)="onAnimationEnd()"
      >
        <button
          type="button"
          class="ms-cell"
          *ngFor="let m of months; let i = index"
          [class.active]="isSelected(i)"
          (click)="selectMonth(i)"
        >
          <span class="ms-cell__label">{{ m | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
