<h2 mat-dialog-title>Search supplier</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchBar" placeholder="Search supplier" />
  </mat-form-field>
  <mat-divider class="my-3"></mat-divider>
  <table class="table bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="2" class="text-center">
          <mat-spinner diameter="50" class="loading-spinner"></mat-spinner>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading && suppliers.length === 0">
      <tr>
        <td colspan="2" class="text-center">No suppliers found</td>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading && suppliers.length > 0">
      <tr
        *ngFor="let supplier of suppliers"
        (click)="selectSupplier(supplier)"
        class="cursor-pointer"
      >
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.address }}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="primary"
    style="letter-spacing: 0"
    mat-dialog-close
  >
    Close
  </button>
</mat-dialog-actions>
