<div class="prp">
  <div class="prp-head" mat-dialog-title>
    <span class="prp-badge">
      <mat-icon>assessment</mat-icon>
    </span>
    <div class="prp-head__text">
      <h2 class="prp-title">{{ "purchaseReport.projectTitle" | translate }}</h2>
      <span class="prp-sub">{{
        "purchaseReport.projectSubtitle" | translate
      }}</span>
    </div>
  </div>

  <form [formGroup]="formGroup">
    <mat-dialog-content class="prp-content">
      <app-project-selector
        formControlName="projectName"
        [label]="'purchaseReport.projectCode' | translate"
      />

      <div class="prp-note">
        <mat-icon>info</mat-icon>
        <span
          >{{ "purchase.laporanBerisiRekapPembelianReimbur" | translate }}</span
        >
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="prp-actions">
      <button
        type="button"
        mat-stroked-button
        [mat-dialog-close]="false"
        class="prp-btn prp-btn--ghost"
      >{{ "salarySlip.batal" | translate }}</button>
      <button
        type="submit"
        mat-flat-button
        [disabled]="!formGroup.valid || isLoading"
        (click)="onSubmit()"
        class="prp-btn prp-btn--primary"
      >
        <mat-icon *ngIf="!isLoading">picture_as_pdf</mat-icon>
        {{ isLoading ? ('hardcoded.memproses' | translate) : ('hardcoded.buatLaporan' | translate) }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
