<div class="eos">
  <div class="eos-head" mat-dialog-title>
    <span class="eos-badge">
      <mat-icon>groups</mat-icon>
    </span>
    <div class="eos-head__text">
      <h2 class="eos-title">
        {{ "expenseOpponentSelector.choose" | translate }}
      </h2>
      <span class="eos-sub">{{
        "expenseOpponentSelector.searchHint" | translate
      }}</span>
    </div>
  </div>

  <mat-dialog-content class="eos-content">
    <form [formGroup]="searchFormGroup" class="eos-search">
      <mat-form-field appearance="outline" class="w-100">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          formControlName="search"
          [placeholder]="'expense.ketikUntukMencari' | translate"
          autocomplete="off"
        />
      </mat-form-field>
    </form>

    <div class="eos-list">
      <button
        type="button"
        class="eos-row"
        *ngFor="let opponent of opponents"
        (click)="selectOpponent(opponent)"
      >
        <span class="eos-avatar">{{ (opponent.name || "?").charAt(0) }}</span>
        <span class="eos-info">
          <span class="eos-name">{{ opponent.name }}</span>
          <span class="eos-desc" *ngIf="opponent.description">{{
            opponent.description
          }}</span>
          <span class="eos-pay" *ngIf="opponent.paymentNumber">{{
            opponent.paymentNumber
          }}</span>
        </span>
        <mat-icon class="eos-chevron">chevron_right</mat-icon>
      </button>

      <div class="eos-empty" *ngIf="opponents.length === 0">
        <mat-icon>person_search</mat-icon>
        <span>{{ "common.noMatchingData" | translate }}</span>
      </div>
    </div>
  </mat-dialog-content>
</div>
