<form [formGroup]="formGroup">
  <mat-dialog-content>
    <div class="form-field">
      <label for="date">Date</label>
      <input
        type="date"
        id="date"
        formControlName="date"
        class="form-control"
      />
    </div>

    <div class="form-field mt-3">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        placeholder="Enter description"
        rows="3"
        style="resize: none"
      ></textarea>
    </div>

    <div class="form-field mt-3">
      <label for="amount">Amount</label>
      <input
        type="text"
        id="amount"
        formControlName="amount"
        class="form-control"
        placeholder="Enter amount"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      class="btn btn-outlined"
      (click)="onSubmit()"
      [disabled]="formGroup.invalid"
    >
      Submit
    </button>
    <button class="btn" (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
