<div class="title__wrapper mb-4">
  <h1 class="title">Expense</h1>
</div>

<form [formGroup]="filterFormGroup">
  <mat-chip-listbox
    class="mb-3"
    multiple
    aria-label="Filter Selection"
    [disabled]="isLoading"
  >
    <mat-chip-option (selectionChange)="changeSelection('isDue', $event)"
      >Due</mat-chip-option
    >
    <mat-chip-option (selectionChange)="changeSelection('isNotDue', $event)"
      >Not yet due</mat-chip-option
    >
    <mat-chip-option (selectionChange)="changeSelection('isPaid', $event)"
      >Paid</mat-chip-option
    >
    <mat-chip-option (selectionChange)="changeSelection('isUnpaid', $event)"
      >Unpaid</mat-chip-option
    >
  </mat-chip-listbox>
</form>

<div class="position-absolute bottom-0 end-0 m-3">
  <button mat-fab color="primary" routerLink="/Expense/Create">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-form-field appearance="outline" class="w-100 mb-2">
  <mat-label>Search</mat-label>
  <input
    matInput
    placeholder="Search by invoice name, receipt name, purchase order, supplier, or tax invoice"
    [formControl]="searchControl"
  />
  <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-form-field>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openCreateOpponentDialog()">
    <mat-icon>add</mat-icon>
    <span>Create new opponent</span>
  </button>
  <button mat-menu-item routerLink="/Expense/Opponent">
    <mat-icon>list</mat-icon>
    <span>Opponent list</span>
  </button>
</mat-menu>

<div class="table-responsive">
  <table mat-table [dataSource]="purchases">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('date')">
        <div class="d-flex d-align-items-center">
          <span>Date</span>
          <mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'date'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.date | date : "dd MMM YYYY" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="invoiceName">
      <th
        mat-header-cell
        *matHeaderCellDef
        (click)="changeSortBy('invoiceName')"
      >
        <div class="d-flex d-align-items-center">
          <span>Invoice name</span>
          <mat-icon *ngIf="sortBy == 'invoiceName' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon
            *ngIf="sortBy == 'invoiceName' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          ><mat-icon *ngIf="sortBy != 'invoiceName'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.invoiceName || "N/A" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="receiptName">
      <th mat-header-cell *matHeaderCellDef>Receipt name</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.receiptName || "N/A" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="taxInvoiceName">
      <th mat-header-cell *matHeaderCellDef>Tax invoice</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.taxInvoiceName || "N/A" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('supplier')">
        <div class="d-flex align-items-center">
          <span>Opponent</span>
          <mat-icon *ngIf="sortBy == 'supplier' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'supplier' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          ><mat-icon *ngIf="sortBy != 'supplier'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        <p>{{ purchase.opponent.name }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="dpp">
      <th mat-header-cell *matHeaderCellDef>DPP</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.dpp | currency : "Rp. " }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ppn">
      <th mat-header-cell *matHeaderCellDef>PPN</th>
      <td mat-cell *matCellDef="let purchase">
        {{
          ((purchase.ppn * purchase.dpp) / 100).toFixed(2) | currency : "Rp. "
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pph">
      <th mat-header-cell *matHeaderCellDef>PPH</th>
      <td mat-cell *matCellDef="let purchase">
        {{ (purchase.pphPercentage * purchase.dpp) / 100 | currency : "Rp. " }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expenseType">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex align-items-center">
          <span>Expense type</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        <span [ngSwitch]="purchase.purchaseType">
          <span *ngSwitchCase="'5.1.1'">Asset purchase</span>
          <span *ngSwitchCase="'5.1.2'">Asset maintenance</span>
          <span *ngSwitchCase="'5.1.3'">Prepaid rent expense</span>
          <span *ngSwitchCase="'5.1.4'">Employee expense</span>
          <span *ngSwitchCase="'5.1.5'">Logistic expense</span>
          <span *ngSwitchCase="'5.1.6'">Document handling & Stationaries</span>
          <span *ngSwitchCase="'5.1.7'">Utilities</span>
          <span *ngSwitchCase="'5.1.8'">Tax</span>
          <span *ngSwitchCase="'5.1.9'">Administration fees</span>
          <span *ngSwitchCase="'5.1.10'">Interests</span>
          <span *ngSwitchCase="'A'">Transportation</span>
          <span *ngSwitchCase="'B'">Equipment rental</span>
          <span *ngSwitchCase="'C'">Fuel</span>
          <span *ngSwitchCase="'D'">Manpower</span>
          <span *ngSwitchCase="'E'"
            >Coordination; Consumption; and Accomodation</span
          >
          <span *ngSwitchCase="'F'">Material</span>
          <span *ngSwitchCase="'G'"
            >Project supporting equipment and supplies</span
          >
          <span *ngSwitchDefault>Unknown</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('total')">
        <div class="d-flex align-items-center">
          <span>Total</span>
          <mat-icon *ngIf="sortBy == 'total' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'total' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'total'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{
          purchase.dpp +
            (purchase.ppn * purchase.dpp) / 100 +
            (purchase.pphPercentage * purchase.dpp) / 100 | currency : "Rp. "
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paidStatus">
      <th mat-header-cell *matHeaderCellDef>Paid status</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.isPaid ? "Paid" : "Not paid" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let purchase">
        <button mat-icon-button (click)="openPaymentDetail(purchase.id)">
          <mat-icon>payments</mat-icon>
        </button>
        <button
          mat-icon-button
          routerLink="/Purchase/Status/{{ purchase.id }}"
          [disabled]="purchase.lastStatus !== 'draft'"
        >
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
<mat-paginator
  [length]="count"
  [pageSize]="10"
  [pageIndex]="page - 1"
  (page)="changePage($event)"
  [pageSizeOptions]="[10, 25, 50]"
  [pageSize]="pageSize"
></mat-paginator>
