<div class="title__wrapper mb-4">
  <h1 class="title">Income / Create</h1>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Date</mat-label>
    <input
      matInput
      formControlName="date"
      placeholder="Date"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Opponent</mat-label>
    <input
      matInput
      formControlName="opponentName"
      type="text"
      placeholder="Opponent name"
      readonly
    />
    <button
      matPrefix
      mat-icon-button
      (click)="openOpponentSelector()"
      type="button"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <textarea
      matInput
      formControlName="opponentDescription"
      rows="3"
      placeholder="Opponent description"
      readonly
      style="resize: none"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Purchase type</mat-label>
    <mat-select formControlName="incomeType">
      <mat-optgroup label="Other income">
        <mat-option value="7.1">Income from interest</mat-option>
        <mat-option value="7.2">Income from royalty</mat-option>
        <mat-option value="7.3">Income from dividend</mat-option>
        <mat-option value="7.5">Other income</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Miscelanous income">
        <mat-option value="7.4">Income from rounding up</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Income description</mat-label>
    <textarea
      matInput
      formControlName="description"
      rows="3"
      placeholder="Description"
      style="resize: none"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Payment date</mat-label>
    <input
      matInput
      formControlName="paymentDate"
      placeholder="Date"
      [matDatepicker]="paymentPicker"
    />
    <mat-datepicker-toggle
      matIconPrefix
      [for]="paymentPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #paymentPicker></mat-datepicker>

  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Amount</mat-label>
    <input
      matInput
      type="text"
      formControlName="amount"
      placeholder="Amount"
      prefix="Rp. "
      thousandSeparator=" "
      mask="separator.2"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Bank Account Number</mat-label>
    <mat-select formControlName="bankAccountID">
      <mat-option *ngFor="let bank of bankAccounts" [value]="bank.id"
        >{{ bank.bankAccountNumber }} -- {{ bank.bankAccountName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    style="letter-spacing: 0"
    [disabled]="isSubmitting"
  >
    Submit
  </button>
</form>
