<h1 mat-dialog-title>Add new pile data</h1>
<form [formGroup]="formGroup">
  <mat-dialog-content>
    <p>
      Add a new pile data here. You can add bulk data as well using the import
      feature.
    </p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Project name</mat-label>
      <input matInput formControlName="projectName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Pile name</mat-label>
      <input matInput formControlName="pileName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Pile type</mat-label>
      <input matInput formControlName="pileName" />
    </mat-form-field>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cut-off Level (COL)</mat-label>
          <input
            matInput
            formControlName="col"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Ground Surface (GS)</mat-label>
          <input
            matInput
            formControlName="gs"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tip Level</mat-label>
          <input
            matInput
            formControlName="tip"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>X Coordinate</mat-label>
          <input
            matInput
            formControlName="x"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Y Coordinate</mat-label>
          <input
            matInput
            formControlName="y"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end"></mat-dialog-actions>
</form>
