<div class="login__wrapper">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div
        class="col-xl-6 col-lg-6 col-md-10 d-flex align-items-center justify-content-center d-block"
      >
        <div class="login-form__wrapper">
          <img src="/assets/images/sphere.png" alt="Sphere" id="sphere" />
          <img src="/assets/images/dome.png" alt="Dome" id="dome" />
          <div class="login-form">
            <form [formGroup]="loginFormGroup" (submit)="onSubmit()">
              <div class="login-form__logo">
                <img
                  src="/assets/images/login-logo.png"
                  alt="Login logo"
                  class="w-100"
                />
              </div>
              <h2>{{ "login.welcome" | translate }}</h2>
              <p>{{ "login.subtitle" | translate }}</p>
              <mat-form-field
                appearance="outline"
                class="w-100"
                required
                subscriptSizing="dynamic"
              >
                <mat-label>{{ "login.email" | translate }}</mat-label>
                <input
                  matInput
                  formControlName="email"
                  [placeholder]="'login.emailPlaceholder' | translate"
                  [readonly]="isSubmitting"
                />
                <mat-icon matPrefix>email</mat-icon>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="w-100 mt-3"
                required
                subscriptSizing="dynamic"
              >
                <mat-label>{{ "login.password" | translate }}</mat-label>
                <input
                  type="password"
                  matInput
                  formControlName="password"
                  [placeholder]="'login.passwordPlaceholder' | translate"
                  [readonly]="isSubmitting"
                />
                <mat-icon matPrefix>password</mat-icon>
              </mat-form-field>

              <div class="login__form__action mt-5">
                <mat-checkbox formControlName="remember" color="primary">{{
                  "login.rememberMe" | translate
                }}</mat-checkbox>
              </div>

              <button
                class="btn mt-5"
                type="submit"
                [disabled]="!loginFormGroup.valid || isSubmitting"
              >
                {{ "login.loginButton" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 col-md-10 h-100 p-relative d-lg-flex align-items-center justify-content-center d-none"
      >
        <img src="/assets/images/rock.png" alt="Rock" id="rock" />
        <img src="/assets/images/graph.png" alt="Graph" id="graph" />
        <img src="/assets/images/cone.png" alt="Cone" id="cone" />

        <img
          src="/assets/images/login.png"
          alt="Hero image"
          class="w-100"
          id="hero"
        />
      </div>
    </div>
  </div>

  <!-- Floating controls: language + theme (bottom-right) -->
  <div class="login-controls">
    <button
      type="button"
      class="login-controls__btn"
      [matMenuTriggerFor]="langMenu"
      [matTooltip]="'login.language' | translate"
    >
      <span class="login-controls__flag">{{ currentLang.flag }}</span>
      <span class="login-controls__code">{{ currentLang.short }}</span>
    </button>
    <mat-menu #langMenu="matMenu">
      @for (lang of languages; track lang.code) {
        <button
          mat-menu-item
          (click)="setLang(lang.code)"
          [class.is-active]="lang.code === currentLang.code"
        >
          <span class="login-controls__flag">{{ lang.flag }}</span>
          <span>{{ lang.native }}</span>
        </button>
      }
    </mat-menu>

    <button
      type="button"
      class="login-controls__btn login-controls__btn--icon"
      (click)="toggleTheme()"
      [matTooltip]="(isDark ? 'login.lightMode' : 'login.darkMode') | translate"
    >
      <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </div>
</div>
