<h2 mat-dialog-title>Add Deduction</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Deduction Name</mat-label>
      <mat-select formControlName="name">
        <mat-option value="BPJS Ketenagakerjaan"
          >BPJS Ketenagakerjaan</mat-option
        >
        <mat-option value="Potongan Surat Peringatan / Teguran"
          >Potongan Surat Peringatan / Teguran</mat-option
        >
        <mat-option value="Potongan Keterlambatan"
          >Potongan Keterlambatan</mat-option
        >
        <mat-option value="Potongan Cuti">Potongan Cuti</mat-option>
        <mat-option value="Potongan Lembur">Potongan Lembur</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Create toggle either included / not --><mat-slide-toggle
      class="mb-4"
      color="primary"
      formControlName="isIncluded"
      >Included for PPh Calculation</mat-slide-toggle
    >

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="text"
        formControlName="amount"
        placeholder="Enter allowance amount"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Enter allowance description"
        rows="3"
        style="resize: none"
      ></textarea>
      <mat-hint>{{ formGroup.value.description.length }} / 10</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="formGroup.invalid"
      cdkFocusInitial
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
