<div class="mif">
  <div class="mif-head" mat-dialog-title>
    <span class="mif-badge">
      <mat-icon>filter_list</mat-icon>
    </span>
    <div class="mif-head__text">
      <h2 class="mif-title">{{ "itemFilter.title" | translate }}</h2>
      <span class="mif-sub">{{ "masterItem.filterHint" | translate }}</span>
    </div>
  </div>

  <mat-dialog-content class="mif-content">
    <mat-form-field appearance="outline" class="mif-field">
      <mat-label>{{ "itemFilter.brand" | translate }}</mat-label>
      <mat-select [formControl]="brandControl">
        <mat-option value="">{{
          "itemFilter.allBrand" | translate
        }}</mat-option>
        <mat-option *ngFor="let b of data.brands" [value]="b">{{
          b
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mif-field">
      <mat-label>{{ "itemFilter.type" | translate }}</mat-label>
      <mat-select [formControl]="typeControl">
        <mat-option value="">{{ "itemFilter.allType" | translate }}</mat-option>
        <mat-option *ngFor="let t of data.types" [value]="t">{{
          t
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mif-field">
      <mat-label>{{ "itemFilter.poType" | translate }}</mat-label>
      <mat-select [formControl]="purchaseTypeControl">
        <mat-option value="">{{
          "itemFilter.allPoType" | translate
        }}</mat-option>
        <mat-option
          *ngFor="let p of data.purchaseTypeOptions"
          [value]="p.code"
          >{{ p.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="mif-actions">
    <button
      type="button"
      mat-button
      class="mif-btn mif-btn--reset"
      [disabled]="!hasActiveFilter()"
      (click)="reset()"
    >
      <mat-icon>restart_alt</mat-icon>{{ "masterItem.reset" | translate }}</button>
    <span class="mif-spacer"></span>
    <button
      type="button"
      mat-button
      class="mif-btn mif-btn--ghost"
      (click)="cancel()"
    >
      {{ "common.cancel" | translate }}
    </button>
    <button
      type="button"
      mat-flat-button
      class="mif-btn mif-btn--primary"
      (click)="apply()"
    >
      {{ "common.apply" | translate }}
    </button>
  </mat-dialog-actions>
</div>
