<h2 mat-dialog-title>Purchase data</h2>
<mat-dialog-content>
  <form [formGroup]="metaFormGroup">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date</mat-label>
          <input matInput placeholder="Date" formControlName="date" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Project</mat-label>
          <input
            matInput
            type="text"
            formControlName="projectName"
            placeholder="Project name"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Purchase type</mat-label>
          <input
            matInput
            type="text"
            formControlName="purchaseType"
            placeholder="Purchase Type"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Supplier</mat-label>
          <input
            matInput
            formControlName="supplierName"
            type="text"
            placeholder="Supplier name"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Supplier address</mat-label>
          <textarea
            matInput
            formControlName="supplierAddress"
            rows="3"
            placeholder="Supplier address"
            readonly
            style="resize: none"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Due date</mat-label>
          <input
            matInput
            placeholder="Date"
            formControlName="dueDate"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Invoice name</mat-label>
          <input
            matInput
            formControlName="invoiceName"
            type="text"
            placeholder="Invoice name"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Receipt Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="receiptName"
            placeholder="Receipt Name"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tax Invoice Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="taxInvoiceName"
            placeholder="Tax Invoice Name"
            maxlength="17"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Purchase Order Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="purchaseOrderName"
            placeholder="Purchase Order Name"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Is internal purchase</mat-label>
          <input
            matInput
            type="text"
            formControlName="isInternal"
            placeholder="Project name"
            readonly
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-label>DPP</mat-label>
          <input
            matInput
            type="text"
            formControlName="dpp"
            placeholder="DPP"
            prefix="Rp. "
            [thousandSeparator]="' '"
            [decimalMarker]="','"
            [mask]="'separator'"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPN (%)</mat-label>
          <input
            matInput
            type="text"
            formControlName="ppn"
            placeholder="PPN"
            suffix="%"
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPN (Rp.)</mat-label>
          <input
            matInput
            type="text"
            formControlName="ppnValue"
            placeholder="PPN (Rp.)"
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PBBKB</mat-label>
          <input
            matInput
            type="text"
            formControlName="pbbkb"
            placeholder="PBBKB"
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPh Percentage</mat-label>
          <input
            matInput
            type="text"
            formControlName="pphPercentage"
            placeholder="PPh Percentage"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPh (Rp.)</mat-label>
          <input
            matInput
            type="text"
            placeholder="PPh Value"
            readonly
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
            formControlName="pph"
            readonly
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPh</mat-label>
          <input
            matInput
            type="text"
            formControlName="pphCode"
            placeholder="PPh Code"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PPh Object Name</mat-label>
          <textarea
            matInput
            type="text"
            placeholder="PPh Object Name"
            formControlName="pphTaxObject"
            readonly
          ></textarea>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Other value</mat-label>
        <input
          matInput
          type="text"
          placeholder="otherValue"
          prefix="Rp. "
          thousandSeparator=" "
          mask="separator.2"
          formControlName="otherValue"
          readonly
        />
        <mat-hint>{{ metaFormGroup.get("otherValueNote")?.value }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Total</mat-label>
        <input
          matInput
          type="text"
          formControlName="total"
          placeholder="Total"
          prefix="Rp. "
          thousandSeparator=" "
          decimalScale="2"
          [mask]="'separator'"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Payment Method</mat-label>
        <mat-select formControlName="paymentMethod">
          <mat-option value="bank">Bank Transfer</mat-option>
          <mat-option value="cash">Virtual Account</mat-option>
          <mat-option value="cash">Cheque</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Bank account number</mat-label>
        <input
          matInput
          type="text"
          formControlName="bankAccountNumber"
          placeholder="Bank account number"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Bank account</mat-label>
        <input
          matInput
          type="text"
          formControlName="bankAccountName"
          placeholder="Bank account name"
          readonly
        />
      </mat-form-field>

      <mat-list>
        <mat-list-item *ngFor="let data of t.controls">
          <span matListItemTitle>{{
            data.get("amount")?.value | currency : "Rp."
          }}</span>
          <span matListItemLine>{{
            data.get("date")?.value | date : "dd MMMM YYYY"
          }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </form>
</mat-dialog-content>
