<h1 mat-dialog-title>Select PPh Code</h1>
<mat-dialog-content>
  <p>Select corresponding tax code.</p>

  <div class="form-field d-flex d-align-items-center">
    <mat-slide-toggle [formControl]="SKBFormControl">SKB</mat-slide-toggle>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Search for PPh code</mat-label>
      <input
        matInput
        type="text"
        placeholder="Search PPh Code"
        [formControl]="pphSearchFormControl"
      />
    </mat-form-field>
  </div>

  <table class="table table-hover w-100">
    <thead>
      <tr>
        <th style="width: 20%">Code</th>
        <th>Object Name</th>
        <th style="width: 10%">Tariff (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pph of pphList" (click)="selectPph(pph)">
        <td>{{ pph.code }}</td>
        <td>{{ pph.taxObjectName }}</td>
        <td>{{ pph.tariff | number : "1.2-2" }}%</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    matButton="outlined"
    style="letter-spacing: 0"
    color="primary"
    (click)="onClose()"
  >
    Select None and Close
  </button>
</mat-dialog-actions>
