<div class="title__wrapper mb-4">
  <h1 class="title">Income</h1>
</div>

<div class="position-absolute bottom-0 end-0 m-3">
  <button mat-fab color="primary" routerLink="/Income/Create">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-form-field appearance="outline" class="w-100 mb-2">
  <mat-label>Search</mat-label>
  <input
    matInput
    placeholder="Search by invoice name, receipt name, purchase order, supplier, or tax invoice"
    [formControl]="searchControl"
  />
  <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-form-field>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openCreateOpponentDialog()">
    <mat-icon>add</mat-icon>
    <span>Create new opponent</span>
  </button>
  <button mat-menu-item routerLink="/Expense/Opponent">
    <mat-icon>list</mat-icon>
    <span>Opponent list</span>
  </button>
</mat-menu>

<div class="table-responsive">
  <table mat-table [dataSource]="purchases">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('date')">
        <div class="d-flex d-align-items-center">
          <span>Date</span>
          <mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'date'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.date | date : "dd MMM YYYY" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="invoiceName">
      <th
        mat-header-cell
        *matHeaderCellDef
        (click)="changeSortBy('invoiceName')"
      >
        <div class="d-flex d-align-items-center">
          <span>Invoice name</span>
          <mat-icon *ngIf="sortBy == 'invoiceName' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon
            *ngIf="sortBy == 'invoiceName' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          ><mat-icon *ngIf="sortBy != 'invoiceName'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.invoiceName || "N/A" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Receipt name</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="opponent">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('opponent')">
        <div class="d-flex align-items-center">
          <span>Opponent</span>
          <mat-icon *ngIf="sortBy == 'opponent' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'opponent' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          ><mat-icon *ngIf="sortBy != 'opponent'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        <p>{{ purchase.opponent.name }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="expenseType">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex align-items-center">
          <span>Expense type</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        <span [ngSwitch]="purchase.incomeType">
          <span *ngSwitchCase="'7.1'">Income from interest</span>
          <span *ngSwitchCase="'7.2'">Income from royalty</span>
          <span *ngSwitchCase="'7.3'">Income from dividend</span>
          <span *ngSwitchCase="'7.4'">Income from rounding up</span>
          <span *ngSwitchCase="'7.5'">Other income</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('amount')">
        <div class="d-flex align-items-center">
          <span>Amount</span>
          <mat-icon *ngIf="sortBy == 'amount' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'amount' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'amount'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.amount | currency : "Rp. " }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let purchase">
        <button
          mat-icon-button
          routerLink="/Purchase/Status/{{ purchase.id }}"
          [disabled]="purchase.lastStatus !== 'draft'"
        >
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
<mat-paginator
  [length]="count"
  [pageSize]="10"
  [pageIndex]="page - 1"
  (page)="changePage($event)"
  [pageSizeOptions]="[10, 25, 50]"
  [pageSize]="pageSize"
></mat-paginator>
