.main__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main__body {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto; /* Enable scrolling */
  height: calc(100vh - 120px);
  padding: 20px;
  border: 1px solid red !important;
}
