<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Month</mat-label>
      <input
        matInput
        formControlName="monthName"
        placeholder="Enter month"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Year</mat-label>
      <input
        matInput
        type="text"
        formControlName="year"
        placeholder="Enter year"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Enter employee name"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tax Category</mat-label>
      <mat-select
        formControlName="taxCategory"
        placeholder="Select tax category"
      >
        <mat-optgroup label="Tidak kawin">
          <mat-option value="TK/0">Tidak kawin; 0 tanggungan (TK/0)</mat-option>
          <mat-option value="TK/1">Tidak kawin; 1 tanggungan (TK/1)</mat-option>
          <mat-option value="TK/2">Tidak kawin; 2 tanggungan (TK/2)</mat-option>
          <mat-option value="TK/3">Tidak kawin; 3 tanggungan (TK/3)</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Kawin">
          <mat-option value="K/0">Kawin; 0 tanggungan (K/0)</mat-option>
          <mat-option value="K/1">Kawin; 1 tanggungan (K/1)</mat-option>
          <mat-option value="K/2">Kawin; 2 tanggungan (K/2)</mat-option>
          <mat-option value="K/3">Kawin; 3 tanggungan (K/3)</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Position</mat-label>
      <input
        matInput
        formControlName="position"
        placeholder="Enter employee position"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Department</mat-label>
      <input
        matInput
        formControlName="department"
        placeholder="Enter employee department"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank name</mat-label>
      <input
        #input
        matInput
        type="text"
        formControlName="bankName"
        placeholder="Bank Name"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()"
      />
      <mat-autocomplete requireSelection #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions"
          [value]="option.name"
          >{{ option.name }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank account name</mat-label>
      <input
        matInput
        type="text"
        formControlName="bankAccountName"
        placeholder="Bank Account Name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Payment Method</mat-label>
      <mat-select formControlName="paymentMethod">
        <mat-option value="bank">Bank Transfer</mat-option>
        <mat-option value="va">Virtual Account</mat-option>
        <mat-option value="cash">Cheque</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Bank account number</mat-label>
      <!-- Input for bank account name -->
      <input
        matInput
        type="text"
        formControlName="bankAccountNumber"
        placeholder="Bank Account Number"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Basic salary</mat-label>
      <input
        matInput
        type="text"
        formControlName="basicSalary"
        placeholder="Enter basic salary"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
      />
    </mat-form-field>

    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Meal allowance quantity</mat-label>
          <input
            matInput
            type="number"
            formControlName="mealAllowanceQuantity"
            placeholder="Enter meal allowance quantity"
          />
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Meal allowance rate</mat-label>
          <input
            matInput
            type="text"
            formControlName="mealAllowanceRate"
            placeholder="Enter meal allowance rate"
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Transportation allowance quantity</mat-label>
          <input
            matInput
            type="number"
            formControlName="transportationAllowanceQuantity"
            placeholder="Enter transportation allowance quantity"
          />
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Transportation allowance rate</mat-label>
          <input
            matInput
            type="text"
            formControlName="transportationAllowanceRate"
            placeholder="Enter transportation allowance rate"
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Overtime hours</mat-label>
          <input
            matInput
            type="number"
            formControlName="overtimeQuantity"
            placeholder="Enter overtime hours"
          />
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Overtime rate</mat-label>
          <input
            matInput
            type="text"
            formControlName="overtimeRate"
            placeholder="Enter overtime amount"
            prefix="Rp. "
            thousandSeparator=" "
            mask="separator.2"
          />
        </mat-form-field>
      </div>
    </div>

    <button
      mat-stroked-button
      type="button"
      (click)="onAddOtherAllowance()"
      style="letter-spacing: 0"
    >
      Add allowance
    </button>

    <div class="table-responsive w-100">
      <table mat-table [dataSource]="allowancesControls" #allowanceTable>
        <ng-container matColumnDef="name">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            {{ allowance.get("name").value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            Rp. {{ allowance.get("amount").value | number : "1.2-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th
            style="width: calc(100% - 800px)"
            mat-header-cell
            *matHeaderCellDef
          >
            Description
          </th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            {{ allowance.get("description").value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="included">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            @if(allowance.get('isIncluded')?.value == true){ Included for PPh
            Calculation } @else { Excluded for PPh Calculation }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th style="width: 100px" mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            <button
              mat-icon-button
              (click)="onRemoveAllowance(i)"
              aria-label="Remove allowance"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAllowancesColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedAllowancesColumns"
        ></tr>
        <!-- Empty table -->
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedAllowancesColumns.length"
          >
            No allowances added yet.
          </td>
        </tr>
      </table>
    </div>

    <mat-divider class="my-3"></mat-divider>

    <button
      mat-stroked-button
      type="button"
      (click)="onAddDeducation()"
      style="letter-spacing: 0"
    >
      Add deduction
    </button>

    <div class="table-responsive w-100">
      <table mat-table [dataSource]="deductionsControls" #deductionTable>
        <ng-container matColumnDef="name">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let deduction; let i = index">
            {{ deduction.get("name").value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let deduction; let i = index">
            Rp. {{ deduction.get("amount").value | number : "1.2-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th
            style="width: calc(100% - 800px)"
            mat-header-cell
            *matHeaderCellDef
          >
            Description
          </th>
          <td mat-cell *matCellDef="let deduction; let i = index">
            {{ deduction.get("description").value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="included">
          <th style="width: 350px" mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let allowance; let i = index">
            @if(allowance.get('isIncluded')?.value == true){ Included for PPh
            Calculation } @else { Excluded for PPh Calculation }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th style="width: 100px" mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let deduction; let i = index">
            <button
              mat-icon-button
              (click)="onRemoveDeduction(i)"
              aria-label="Remove deduction"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedDeductionsColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedDeductionsColumns"
        ></tr>
        <!-- Empty table -->
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedDeductionsColumns.length"
          >
            No deductions added yet.
          </td>
        </tr>
      </table>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Total salary</mat-label>
      <input
        matInput
        type="text"
        formControlName="grossSalary"
        placeholder="Enter total salary"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
        readonly
      />
    </mat-form-field>

    <!-- PPh 21 -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>PPh 21</mat-label>
      <input
        matInput
        type="text"
        formControlName="taxAmount"
        placeholder="Enter PPh 21"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
      />
    </mat-form-field>

    <!-- Net salary -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Net salary</mat-label>
      <input
        matInput
        type="text"
        formControlName="netSalary"
        placeholder="Enter net salary"
        prefix="Rp. "
        thousandSeparator=" "
        decimalScale="2"
        mask="separator"
        readonly
      />
      <button
        mat-icon-button
        matPrefix
        [disabled]="isFinal"
        (click)="calculateSalary()"
      >
        <mat-icon>calculate</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Is last day?</mat-label>
      <mat-select formControlName="isLastDay">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Last date</mat-label>
      <input matInput formControlName="lastDate" [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconPrefix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div
      *ngIf="
        formGroup.hasError('lastDateRequired') &&
        formGroup.get('lastDate')?.touched
      "
    >
      Last date is required when it's the last day.
    </div>

    <button
      mat-stroked-button
      type="submit"
      style="letter-spacing: 0"
      [disabled]="!isFinal || isSubmitting || formGroup.invalid"
    >
      Submit
    </button>
  </div>
</form>
