<app-header-title
  [title]="'Salary slip'"
  [description]="'Manage your salary slip data here'"
/>

<div class="search__wrapper">
  <mat-form-field appearance="outline" class="w-100">
    <input
      matInput
      type="text"
      class="input"
      placeholder="Search employee"
      [formControl]="formControl"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Month and Year</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date" />
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker
      #dp
      startView="multi-year"
      (monthSelected)="setMonthAndYear($event, dp)"
      panelClass="example-month-picker"
    >
    </mat-datepicker>
  </mat-form-field>
</div>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef>Month</th>
      <td mat-cell *matCellDef="let element">
        {{ element.month }}
      </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element">
        {{ element.year }}
      </td>
    </ng-container>

    <ng-container matColumnDef="basic">
      <th mat-header-cell *matHeaderCellDef>Basic salary</th>
      <td mat-cell *matCellDef="let element">
        {{ element.basicSalary | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="transportation">
      <th mat-header-cell *matHeaderCellDef>Transportation</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transportation | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="meal">
      <th mat-header-cell *matHeaderCellDef>Meal</th>
      <td mat-cell *matCellDef="let element">
        {{ element.meal | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="overtime">
      <th mat-header-cell *matHeaderCellDef>Overtime</th>
      <td mat-cell *matCellDef="let element">
        {{ element.overtime | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="allowances">
      <th mat-header-cell *matHeaderCellDef>Allowances</th>
      <td mat-cell *matCellDef="let element">
        {{ element.allowance ?? 0 | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deductions">
      <th mat-header-cell *matHeaderCellDef>Deductions</th>
      <td mat-cell *matCellDef="let element">
        {{ element.deduction ?? 0 | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pph">
      <th mat-header-cell *matHeaderCellDef>PPH</th>
      <td mat-cell *matCellDef="let element">
        {{ element.taxAmount | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="taxCategory">
      <th mat-header-cell *matHeaderCellDef>Tax Category</th>
      <td mat-cell *matCellDef="let element">
        {{ element.taxCategory }}
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element">
        {{ element.position }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewSalarySlip(element.id)">
            <mat-icon>view_comfy_alt</mat-icon>
            <span>View salary slip</span>
          </button>
          <button
            mat-menu-item
            (click)="createPayment(element.id)"
            [disabled]="element.isPaid || element.isDelete"
          >
            <mat-icon>payments</mat-icon>
            <span>Create payment</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        @if(element.isPaid){
        <app-pill-success [label]="'Paid'" />
        } @else {
        <app-pill-warning [label]="'Not paid'" />

        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="viewSalarySlip(row.id)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageIndex]="page - 1"
    [length]="dataCount"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
