<app-header-title
  [title]="'Interpayment'"
  [description]="'Manage your interpayment data here'"
  [actionButtonLabel]="'Create new interpayment'"
  (onActionButtonClicked)="createNewInterpayment()"
></app-header-title>

<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>

<div class="table-responsive">
  <table mat-table [dataSource]="payments" #table>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('date')">
        <div class="d-flex d-align-items-center">
          <span>Date</span>
          <mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'date' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'date'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.date | date : "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bankAccountOrigin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.originBankAccountName }} --
        {{ purchase.originBankAccountNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bankAccountDestination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let purchase">
        {{ purchase.destinationBankAccountName }} --
        {{ purchase.destinationBankAccountNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef (click)="changeSortBy('amount')">
        <div class="d-flex d-align-items-center">
          <span>Amount</span>
          <mat-icon *ngIf="sortBy == 'amount' && sortByDirection == 'asc'"
            >arrow_drop_up</mat-icon
          ><mat-icon *ngIf="sortBy == 'amount' && sortByDirection == 'desc'"
            >arrow_drop_down</mat-icon
          >
          <mat-icon *ngIf="sortBy != 'amount'" class="opacity-0"
            >arrow_drop_down</mat-icon
          >
        </div>
      </th>
      <td mat-cell *matCellDef="let purchase">
        Rp. {{ purchase.amount | number : "0.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let purchase">
        <button
          mat-icon-button
          (click)="delete(purchase.id)"
          [disabled]="isDisabled(purchase.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
<mat-paginator
  [length]="count"
  [pageSize]="10"
  [pageIndex]="page - 1"
  (page)="changePage($event)"
  [pageSizeOptions]="[10, 25, 50]"
  [pageSize]="pageSize"
></mat-paginator>
