<h1 class="title mt-3">Supplier / Create</h1>
<mat-divider class="my-3"></mat-divider>

<form [formGroup]="supplierFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label>Prefix</mat-label>
    <mat-select formControlName="prefix" required>
      <mat-option value="PT.">PT.</mat-option>
      <mat-option value="CV.">CV.</mat-option>
      <mat-option value="UD.">UD.</mat-option>
      <mat-option value="Pribadi">Pribadi</mat-option>
      <mat-option value="Lainnya">Lainnya</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name"
      type="text"
      placeholder="Supplier name"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Address</mat-label>
    <textarea
      matInput
      formControlName="address"
      rows="3"
      placeholder="Supplier address"
      required
      style="resize: none"
    ></textarea>
  </mat-form-field>

  <div class="row">
    <div class="col-sm-6 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>City</mat-label>
        <input
          matInput
          formControlName="city"
          type="text"
          placeholder="Supplier city"
          required
        />
      </mat-form-field>
    </div>
    <div class="col-sm-6 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Province</mat-label>
        <input
          matInput
          formControlName="province"
          type="text"
          placeholder="Supplier province"
          required
        />
      </mat-form-field>
    </div>
  </div>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>NPWP</mat-label>
    <input
      matInput
      formControlName="npwp"
      type="text"
      placeholder="Supplier NPWP"
      required
      maxlength="16"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Phone number</mat-label>
    <input
      matInput
      formControlName="phoneNumber"
      type="tel"
      placeholder="Supplier Phone number"
      required
    />
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      type="email"
      placeholder="Supplier Email"
    />
  </mat-form-field>

  <mat-divider class="mb-3"></mat-divider>
  <h2 class="title">Search Helper</h2>

  <label>Items sold</label>
  <p>This will help us find the right supplier when searching.</p>

  <mat-chip-set
    aria-label="Items sold selection"
    *ngIf="items.length > 0"
    class="mb-3"
  >
    <mat-chip
      *ngFor="let item of items"
      [removable]="true"
      (removed)="remove(item)"
    >
      {{ item }}
      <button matChipRemove aria-label="Remove item">
        <i class="bi bi-x"></i>
      </button>
    </mat-chip>
  </mat-chip-set>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Items sold</mat-label>
    <input
      matInput
      formControlName="soldItems"
      type="text"
      placeholder="Items sold"
    />
  </mat-form-field>

  <mat-chip-set
    aria-label="Areas selection"
    *ngIf="areas.length > 0"
    class="mb-3"
  >
    <mat-chip
      *ngFor="let item of areas"
      [removable]="true"
      (removed)="removeArea(item)"
    >
      {{ item }}
      <button matChipRemove aria-label="Remove area">
        <i class="bi bi-x"></i>
      </button>
    </mat-chip>
  </mat-chip-set>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Service areas</mat-label>
    <input
      matInput
      formControlName="serviceAreas"
      placeholder="Service areas"
      type="text"
    />
  </mat-form-field>

  <button
    class="btn mt-3"
    type="submit"
    [disabled]="
      isSubmitting ||
      supplierFormGroup.invalid ||
      items.length === 0 ||
      areas.length === 0
    "
  >
    Submit
  </button>
</form>
