.banner {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #e8e8e8;
  background-color: #eff6ff;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  mat-icon {
    color: #154dec;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
