<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="form-field">
      <label for="month">{{ "common.monthLabel" | translate }}</label>
      <select id="month" formControlName="month" class="form-control">
        <option value="" disabled selected>
          {{ "common.selectMonth" | translate }}
        </option>
        <option value="1">{{ "common.january" | translate }}</option>
        <option value="2">{{ "common.february" | translate }}</option>
        <option value="3">{{ "common.march" | translate }}</option>
        <option value="4">{{ "common.april" | translate }}</option>
        <option value="5">{{ "common.may" | translate }}</option>
        <option value="6">{{ "common.june" | translate }}</option>
        <option value="7">{{ "common.july" | translate }}</option>
        <option value="8">{{ "common.august" | translate }}</option>
        <option value="9">{{ "common.september" | translate }}</option>
        <option value="10">{{ "common.october" | translate }}</option>
        <option value="11">{{ "common.november" | translate }}</option>
        <option value="12">{{ "common.december" | translate }}</option>
      </select>
    </div>
  </form>
</mat-dialog-content>
