/* You can add global styles to this file, and also import other style files */
@use "fonts";
@use "input";
@use "buttons";
@use "tables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --background-color: white;
  --base-color: #f7f7f7;
  --base-color-hover: #eaeaea;
  --base-color-hover-transparent: rgba(234, 234, 234, 0.5);
  --on-base-color: #333333;
  --primary-color: #0d152e;
  --accent-color: #f2711a;
  --disabled-color: #b0b0b0;
  --color-border: #cccccc;
}

html {
  height: 100%;
  width: 100%;
  min-width: 600px;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spinner {
  position: relative;
  left: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transform: translate(-50%, 0);
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);

    a {
      text-decoration: none;
      color: var(--primary-color);
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      background-color: transparent;
      border-radius: 20px;
      transition: 0.3s ease-in-out;
      line-height: 0;

      &:hover {
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--base-color-hover-transparent);
      }
    }
  }
}

.table {
  td {
    vertical-align: middle;
  }
}
