.form-field {
  position: relative;

  .input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: "Montserrat";
    box-shadow: 0px 0px 20px -17px;
  }

  .input:hover {
    border: 2px solid grey;
    box-shadow: 0px 0px 20px -17px;
  }

  .input:focus {
    border: 2px solid grey;
    box-shadow: 0px 0px 20px -17px;
  }

  // if the form-field has child element of 'btn' class, then the input should have padding-right: 50px;
  &:has(.btn-suffix) {
    display: flex;
    flex-direction: row;

    .input {
      padding-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btn-suffix {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      margin: 0;
    }
  }
}
