button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-size: 1.5rem;
  font-weight: bold;

  mat-icon {
    transform: scale(1.25);
  }
}
